

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.sections{
    display: grid;

    padding: 30px;
    margin: 10px;
    background-color: black;
}
.category{
    border: solid 3px gray;
    padding: 10px;
}
.categoryHeading{
font-size: 30px;
color: wheat;
width: 100%;
text-align: center;
text-decoration: underline;
}
li{
    color: white;
    margin: 10px;
    font-size: 15px;
    padding: 10px;
}
p{
    background-color: blue;
    display: inline;
    color: black;
    padding: 3px;
    border-radius: 10px;
}

